<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>拼红包</title>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background: #f1eded;
    }

    header {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 700;
      background: #5dc35d;
      padding: 1rem 0;
      color: #fff;
      box-shadow: 0 5px 10px #9c9797;
    }
  </style>
</head>
<body>
  <header class="header">拼红包</header>

  <div id="main"></div>

  <script src="./libs/mod.js"></script>
  <script src="main.js"></script>
</body>
</html>